table{
    width:50%;
    border-collapse:collapse;
    
   }
   
   table,td{
    border:3px solid #e20000;
   }
   
   td{
    padding:10px;
    text-align:center;
   }
   td{
       font-size: 20px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   body {
background-color: #ffe684;
  }
.ataa{
    text-align: center;
    color: #db1313;
}
.form1{
    text-align: center;
}
h3{
    color: #2a9d8f;
}
